/* VARIABLES */

:root{
    --primary:#6C63FF;
    --secondary:#00BFA6;
    --success:#43A047;
    --warning:#FFA726;
    --danger:#EC407A;
    --light:#FFFFFF;
    --background:#EEF4FF;
    --dark:#263238;
    --font-main:'Segoe UI', sans-serif;
}


/* CONFIGURACIÓN GENERAL */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--background);
    font-family:var(--font-main);
    padding:30px;
}

.container{
    max-width:1000px;
    margin:auto;
}

h1{
    color:var(--dark);
    margin-bottom:30px;
}

.section{
    margin-bottom:40px;
}

h2{
    margin-bottom:15px;
    color:var(--primary);
}


/* BOTONES */

.btn{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    color:white;
    cursor:pointer;
    margin-right:10px;
    transition:.3s;
}

.btn-primary{
    background:var(--primary);
}

.btn-secondary{
    background:var(--secondary);
}

.btn-danger{
    background:var(--danger);
}

.btn:hover{
    transform:translateY(-3px);
    opacity:.9;
}

.btn:focus{
    outline:3px solid #000;
}


/* FORMULARIOS */

input,
select,
textarea{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    background:white;
}

input:focus,
select:focus,
textarea:focus{
    outline:none;
    box-shadow:0 0 8px var(--primary);
}


/* TARJETAS */

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
    border-left:8px solid var(--primary);
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}

.card h3{
    color:var(--primary);
    margin-bottom:10px;
}


/* BADGES */

.badge{
    padding:8px 15px;
    border-radius:20px;
    color:white;
    font-size:14px;
    margin-right:10px;
}

.alta{
    background:var(--danger);
}

.media{
    background:var(--warning);
}

.baja{
    background:var(--success);
}


/* RESPONSIVE */

@media screen and (max-width:768px){

    body{
        padding:15px;
    }

    h1{
        text-align:center;
        font-size:26px;
    }

    .btn{
        display:block;
        width:100%;
        margin-bottom:10px;
    }

    .badge{
        display:inline-block;
        margin-bottom:10px;
    }

}